<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <div class="container">

        <div class="row"> 
        {% block content %}{% endblock %}
        </div>

    </div>

</body>
</html>